<<<<<<< HEAD
<h2 class="page-header">Registrar</h2>
{{#if user}}
        <div class="alert alert-danger">Usuário já cadastrado, tente novamente</div> 
{{/if}}
{{#if mail}}
        <div class="alert alert-danger">E-mail já cadastrado, tente novamente</div> 
=======
<h2 class="page-header">Register</h2>
{{#if user}}
        <div class="alert alert-danger">Username has taken already try new</div> 
{{/if}}
{{#if mail}}
        <div class="alert alert-danger">Email has taken already try new</div> 
>>>>>>> front
{{/if}} 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
<<<<<<< HEAD
    <label>Nome</label>
    <input type="text" class="form-control" placeholder="Nome" name="name">
  </div>
  <div class="form-group">
    <label>Usuário</label>
    <input type="text" class="form-control" placeholder="Usuário" name="username">
  </div>
   <div class="form-group">
    <label>E-mail</label>
    <input type="email" class="form-control" placeholder="E-mail" name="email">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" placeholder="Senha" name="password">
  </div>
  <div class="form-group">
    <label>Confirmar Senha</label>
    <input type="password" class="form-control" placeholder="Senha" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Enviar</button>
</form>
=======
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

>>>>>>> front
